<div class = "pclContent">
	<h1>Lets Talk about Me</h1>
	<h2>Who I am</h2>
	<p>Many people use the same words to describe themselves:  passionate, hardworking, driven, and detail oriented. I am those things, which is why I have earned many opportunities in my life. I am more than just those clichés however, I am also loyal, dedicated and go above and beyond to help meet goals.  I am someone who can find the silver lining in things and build team morale.  I am a quick learner with analytical skills that help me to be successful in almost any situation.  New experiences and challenges excite me.</p>
	<p>I have work experience in the customer service industry. I was the interim catering manager and an assistant catering manager for Hy-Vee. I oversaw the entire process for events.  Beginning with initial meetings with brides until the conclusion of the event.  I developed the skills to handle many simultaneous moving pieces, bringing them together successfully.</p>
	<h2>What I love</h2>
	<p>When I am not coding, I am usually coaching soccer. I am a soccer coach of a u11 and a u15  team for a club in Omaha. In the spring, I will start my fourth season as the assistant coach of the Mount Michael Varsity Soccer team.   I was a student athlete, playing soccer all through college, and love teaching the game to young players. 
	</p>
	<p>Another love of mine are the mountains in Colorado.  Last year, as I was finishing my degree from Bellevue, I worked as a snowboard instructor at the Keystone Ski Resort. I was able to follow my passions for the outdoors and snowboarding while maintaining my grades and working full time.
	</p>
</div>