<div class = "pclContent">
	<h1>Lets Talk about Me</h1>
	<h2>Who I am</h2>
	<p>People will always use the same words to describe themselves, passionate, hardworking, driven, and detail oriented. I am those things, which is why I have been given the opportunities that I have in my life. I am more than just those clichés however, I am loyal and dedicated. If I believe in someone or an organization, I would follow them until the end. I am someone who can find the silver linings in things and build team morale around them. I am an agile learner with analysis skills that lead me to be successful no matter the situation I am placed into. New experiences and challenges excite me, not scare me. 
	<p>I have work experience in the customer service industry. I was the interim catering manager and then the assistant catering manager after for Hy-Vee. I would see the entire process for catering events through. From initial meetings with brides until the actual event with everything in-between. I developed the skills to handle many moving pieces at the same time and bring them together.</p>
	</p>
	<h2>What I love</h2>
	<p>
	When I am not coding, I am usually coaching soccer. I am a coach on u11 and u15 boys’ soccer teams here for a club in Omaha. In the spring, I will be the assistant coach for the Mount Michael Varsity Soccer team. I played soccer all through college and I love being able to teach the game to young players. 
	</p>
	<p>Another love of mine are the mountains in Colorado. Last year, as I was finishing my degree from Bellevue, I worked as a snowboard instructor at Keystone Resort. I was able to follow my passions of the outdoors and snowboarding while maintaining my grades and working full time.
	</p>
</div>