<div class = "pclContent">
	<h1>I am John T. Cronin</h1>
	<p>I am back-end web developer with a degree in Cyber Security from Bellevue University and student at Omaha Code School. I continued my education into code school so that I could take my security knowledge and apply it directly into code. I have fallen in love with making everything work behind the scenes. Being able to create well-functioning programs from a blank text editor is what gets me excited. I also love diving into program code and experimenting by breaking it down and rebuilding to find little things that make the program tick and work better.
	</p>
</div>
<div class="pclContent pclPic"></div>