<div class = "pclContent">
	<h1>I am John T. Cronin</h1>
	<p>I am a back-end web developer with a degree in Cyber Security from Bellevue University and I am currently a student at Omaha Code School. I continued my education in coding so that I could take my security knowledge and apply it directly into applications. I really enjoy making everything work behind the scenes, including taking a blank text editor and creating a well-functioning secure application, particularly dynamic web apps.   I also enjoy diving into existing programs, breaking them down and rebuilding them to enhance functionality or improve performance.
	</p>
</div>
<div class="pclContent pclPic"></div>