---
permalink: ntt_security.html
---

<!DOCTYPE html>
<html>
<head>
	<title>NTT Security</title>
	{% include head.html %}
</head>
<body>
	{% include pclHeader.html %}
	<div class="pclInnerBody">
		<div class = pclHead>
			<h1>Welcome to my Cover Letter!</h1>
			<h2>NTT Security</h2>
		</div>
		<div class = "pclBody">
			<div class = "pclContent">
				<h1>I am John T. Cronin</h1>
				<div>I am back-end web developer with a degree in Cyber Security from Bellevue University. I have fallen in love with making everything work behind the scenes. Being able to create a well functioning program out of a blank text editor is what gets me excited. I also love diving through already written codes and experimenting by breaking them down and rebuilding to find the little things that make the program tick and work.</div>
			</div>
			<div class="pclContent"><img src="../img/coloradoSolo.jpg"></div>
		</div>
	</div>
</body>
</html>