---
permalink: firstNationalOmaha.html
---

<!DOCTYPE html>
<html>
<head>
	<title>First National Bank</title>
	{% include head.html %}
</head>
<body class = "pclPage">
	{% include pclHeader.html %}
	<div class="pclInnerBody">
		<div class = "pclHead">
			<h1>Hello First National Bank</h1>
			<h2>You came to the right place!</h2>
		</div>
		<div class = "pclBody">
			{% include aboutMeTop.html %}
		</div>
		<div class = "pclBody">
			{% include aboutMe.html %}
			<div class = "pclContent">
				<h1>Lets Talk about You</h1>
				<h2>First National Needs</h2>
				<p>First National is a company that is woven into the fabric of Omaha. Their involvement in the community as sponsors is impressive. Not only sponsorships, but employees constantly volunteer in the community. The company is well focused on supporting the growth of Omaha, which I admire. My good friend, Alex Prusa, works at First National and has nothing but good things to say. A problem from being such a well-established company is that there are a lot of technological needs that must be updated. Web based services may appear outdated, while staying functional. A young web developer like myself would be a great fit for this problem. First National is a strong company that will be around for many years to come, I want to be a part of that.
				</p>
				<h2>Why me?</h2>
				<p>There is a reason that First National has been around for so long, they are always trying to evolve and grow. First National needs young, smart, talented programmers (much like myself) to continue this growth. There are many well-seasoned employees already there that have a lot of knowledge and wisdom to give. I am an agile learner that can pick things up quickly, which would make me a great fit. I am not afraid to try new things or push the way others think, even if they are older or more experienced. I would continue to challenge those around me, as well as accept the challenges given to me.
				</p>
				<h2>My Hopes For Us</h2>
				<p> Not only do I have the technical skills to fit in well, but I have the social skills to really make a team work. Playing college soccer for four years, I know what it takes to be a part of the team as well as make the team better. This paired with my technical skills can make me a great addition to any team at First National.
				</p>
				<p>I am looking for a company that will allow me to grow. I want constant challenges and ways to improve. I believe with its vast reach; First National can give me those opportunities to grow. I will always be pushing for growth and better solutions. First National is a company that would allow and encourage that, which is necessary for me as a person and as a professional. I believe that First National would be a great fit for me, and that I would be a great fit for you.
				</p>
			</div>
		</div>
		<div class= "footImg">
			<img src="../img/fnbLogo.png">
		</div>
		{% include pclFooter.html %}
	</div>
</body>
</html>