---
permalink: mutualOfOmaha.html
---
<!DOCTYPE html>
<html>
<head>
	<title>Mutual Of Omaha</title>
	{% include head.html %}
</head>
<body class = "pclPage">
	{% include pclHeader.html %}
	<div class="pclInnerBody">
		<div class = "pclHead">
			<h1>Hello Mutual of Omaha</h1>
			<h2>You came to the right place!</h2>
		</div>
		<div class = "pclBody">
			<div class = "pclContent">
				<h1>I am John T. Cronin</h1>
				<p>I am back-end web developer with a degree in Cyber Security from Bellevue University. I have fallen in love with making everything work behind the scenes. Being able to create a well functioning program out of a blank text editor is what gets me excited. I also love diving through already written codes and experimenting by breaking them down and rebuilding to find the little things that make the program tick and work.
				</p>
			</div>
			<div class="pclContent pclPic"></div>
		</div>
		<div class = "pclBody">
			<div class = "pclContent">
				<h1>Lets Talk about Me</h1>
				<h2>Who I am</h2>
				<p>People will always use the same words to describe themselves, passionate, hardworking, driven, and detail oriented. I am those things, which is why I have been given the opportunities that I have in my life. I am more than just those cliches. I am loyal. If I believe in someone or an organization, I would follow them until the end. I am someone who can find the silver linings in things and build team morale around them. If there is something I am passionate about, there is nothing that can stop me. I am an agile learner with analysis skills that lead me to be successful no matter the situation I am placed into. New experiences and challenges excite me, instead of scaring me. 
				<p>I have work experience in the customer service industry. I was the interim catering mangaer and then the assistant catering manager after for Hy-Vee. I would see the entire process for catering events through. From initial meetings with brides until the actual event with everything inbetween. I developed the skills to handle many moving pieces at the same time and bring them together.</p>
				</p>
				<h2>What I love</h2>
				<p>
				When I am not coding, I am usually coaching soccer. I am a coach on u11 and u15 boys soccer teams here for a club in Omaha. In the spring, I will be the assistant coach for the Mount Michael Varisty Soccer team. I played soccer all through college and I love being able to teach the game to young players. 
				</p>
				<p>Another love of mine are the mountains in Colorado. Last year, as I was finishing my degree from Bellevue, I worked as a snowboard instructor at Keystone Resort. I was able to follow my passions of the outdoors and snowboarding while maintaining my grades and working full time.
				</p>
			</div>
			<div class = "pclContent">
				<h1>Lets Talk about You</h1>
				<h2>Why Mutual of Omaha?</h2>
				<p>Mutual of Omaha is a company that is woven into the fabric into the fabric of Omaha. Their involvement in the community as sponsors is impressive. Not only sponsorships, but employees constantly volunteer in the comunity. The company is well focused on supporting the growth of Omaha, which I admire. My parents, Ruth and John Cronin, work at Mutual and have nothing but good things to say. Mutual of Omaha is a strong company that will be around for many years to come.</p>
				<h2>Mutual of Omaha Needs</h2>
				<p>There is a reason that Mutual has been around for so long, they are always looking to evolve. Mutual needs more young, smart, talented programmers (much like myself) to continue this growth. There are many well seasoned employees already there that have a lot of knowledge and wisdom to give. I am an agile learner that can pick things up quickly, which would make me a great fit. Mutual needs young proffessionals to come in and make a difference in positive ways. I am not affraid to try new things or push the way others think, even if they are older or more experienced. I would continue to challenge those around me, as well as accept the challenges given to me. 
				</p>
				<h2>Why me?</h2>
				<p>Not only do I have the technical skills to fit in well, but I have the social skills to really make a team work. Playing college soccer for four years, I know what it takes to be a part of the team as well as make the team better. This paired with my technical skills can make me a great addition to any team at Mutual of Omaha.
				</p>
				<h2>My Hopes For Us</h2>
				<p> I am looking for a company that will allow me to grow. I want constant challenges and ways to improve. I believe with its vast reach of technology solutions, Mutual of Omaha can give me that opportunity to grow. I will always be pushing for growth and better solutions. Mutual of Omaha is a company that would allow and encourage that. I believe that Mutual of Omaha would be a great fit for me, and that I would be a great fit for you. 
				</p>
			</div>
		</div>
		{% include pclFooter.html %}
	</div>
</body>
</html>