---
permalink: mutualOfOmaha.html
---
<!DOCTYPE html>
<html>
<head>
	<title>Mutual Of Omaha</title>
	{% include head.html %}
</head>
<body class = "pclPage">
	{% include pclHeader.html %}
	<div class="pclInnerBody">
		<div class = "pclHead">
			<h1>Hello Mutual of Omaha</h1>
			<h2>You came to the right place!</h2>
		</div>
		<div class = "pclBody">
			{% include aboutMeTop.html %}
		</div>
		<div class = "pclBody">
			{% include aboutMe.html %}
			<div class = "pclContent">
				<h1>Lets Talk about You</h1>
				<h2>Why Mutual of Omaha?</h2>
				<p>Mutual of Omaha is a company that is woven into the fabric of Omaha. Mutual’s involvement in the community as a sponsor is impressive. Along with the sponsorships, I also value the support given to employees as they volunteer in the community.   I have a family history with Mutual because my parents, Ruth and John Cronin, work in the I/S Division.  Mutual of Omaha is a strong, customer focused company that will be around for many years to come.</p>
				<h2>Mutual of Omaha Needs</h2>
				<p>There is a reason that Mutual has been around for so long, they are always trying to evolve and grow. Mutual needs young, smart, talented programmers (much like myself) to continue this growth. There are many well-seasoned employees that have a lot of knowledge and wisdom to share. I am an agile learner, picking things up easily, which would make me a great fit. I am not afraid to try new things and bring in new ideas.  I thrive on constant challenge and like to be given a problem and have leeway on how it is solved. 
				</p>
				<h2>Why me?</h2>
				<p>Not only do I have the technical skills to fit in well, I have the social skills, making me a great addition to Mutual of Omaha.  Playing four years of college soccer, I know what it takes to make a team successful.  I am looking for a company where I can start my IT career and continue to tackle new challenges and opportunities in many years to come.  Mutual of Omaha is a company that not only provides these types of opportunities, but consistently supports its employees’ career development.  I believe that Mutual of Omaha would be a great fit for me, and I would be a great fit for Mutual.
				</p>
			</div>
		</div>
		<div class= "footImg">
			<img src="../img/mutualLogo.jpeg">
		</div>
		{% include pclFooter.html %}
	</div>
</body>
</html>