---
permalink: mutualOfOmaha.html
---
<!DOCTYPE html>
<html>
<head>
	<title>Mutual Of Omaha</title>
	{% include head.html %}
</head>
<body class = "pclPage">
	{% include pclHeader.html %}
	<div class="pclInnerBody">
		<div class = "pclHead">
			<h1>Hello Mutual of Omaha</h1>
			<h2>You came to the right place!</h2>
		</div>
		<div class = "pclBody">
			{% include aboutMeTop.html %}
		</div>
		<div class = "pclBody">
			{% include aboutMe.html %}
			<div class = "pclContent">
				<h1>Lets Talk about You</h1>
				<h2>Why Mutual of Omaha?</h2>
				<p>Mutual of Omaha is a company that is woven into the fabric of Omaha. Their involvement in the community as sponsors is impressive. Not only sponsorships, but employees constantly volunteer in the community. The company is well focused on supporting the growth of Omaha, which I admire. My parents, Ruth and John Cronin, work at Mutual and have nothing but good things to say. Mutual of Omaha is a strong company that will be around for many years to come.</p>
				<h2>Mutual of Omaha Needs</h2>
				<p>There is a reason that Mutual has been around for so long, they are always trying to evolve and grow. Mutual needs young, smart, talented programmers (much like myself) to continue this growth. There are many well-seasoned employees already there that have a lot of knowledge and wisdom to give. I am an agile learner that can pick things up quickly, which would make me a great fit. I am not afraid to try new things or push the way others think, even if they are older or more experienced. I would continue to challenge those around me, as well as accept the challenges given to me. 
				</p>
				<h2>Why me?</h2>
				<p>Not only do I have the technical skills to fit in well, but I have the social skills to really make a team work. Playing college soccer for four years, I know what it takes to be a part of the team as well as make the team better. This paired with my technical skills can make me a great addition to any team at Mutual of Omaha.
				</p>
				<h2>My Hopes For Us</h2>
				<p> I am looking for a company that will allow me to grow. I want constant challenges and ways to improve. I believe with its vast reach; Mutual of Omaha can give me that opportunity to grow. I will always be pushing for growth and better solutions. Mutual of Omaha is a company that would allow and encourage that. I believe that Mutual of Omaha would be a great fit for me, and that I would be a great fit for you. 
				</p>
			</div>
		</div>
		{% include pclFooter.html %}
	</div>
</body>
</html>