---
permalink: ntt_security.html
---

<!DOCTYPE html>
<html>
<head>
	<title>NTT Security</title>
	{% include head.html %}
</head>
<body class = "pclPage">
	{% include pclHeader.html %}
	<div class="pclInnerBody">
		<div class = "pclHead">
			<h1>Hello NTT Security</h1>
			<h2>You came to the right place!</h2>
		</div>
		<div class = "pclBody">
			{% include aboutMeTop.html %}
		</div>
		<div class = "pclBody">
			{% include aboutMe.html %}
			<div class = "pclContent">
				<h1>Lets Talk about You</h1>
				<h2>NTT Security Needs</h2>
				<p>The cyber security field is always growing and changing. As you know, there are more ways to hack systems than there are ways to protect them. By working with customers, part of that process is to understand their needs. Through my customer service skills, I gained while working at Hy-Vee, through my schooling at Bellevue, receiving a cyber security degree, and now at Omaha Code School, I can understand every single part of the equation. This would make me a great fit at NTT Security. I have all of the skills necessary to make me successful.
				</p>
				<h2>Why me?</h2>
				<p>Not only do I have the technical skills to fit in well, but I have the social skills to really make a team work. Playing college soccer for four years, I know what it takes to be a part of the team as well as make the team better. This paired with my technical skills can make me a great addition to any team at NTT Security.
				</p>
				<h2>My Hopes For Us</h2>
				<p> I am looking for a company that will allow me to grow. I want constant challenges and ways to improve. I believe with its vast reach of technology solutions, NTT can give me that opportunity to grow. I will always be pushing for growth and better solutions. NTT is a company that would allow and encourage that. I believe that NTT would be a great fit for me, and that I would be a great fit for you. 
				</p>
			</div>
		</div>
		{% include pclFooter.html %}
	</div>
</body>
</html>